.flexy-layout {
    .flex-display;
    .flex-grow(1);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    
    >.block {
        .flex-display;
    }

    &.flexy-layout-column {
        .flex-direction(row);
    }

    &.flexy-layout-row {
        .flex-direction(column);
    }


    &.flexy-layout-column > .splitter{
        width: 5px;
        background: @clouds;
        >.ghost{
            cursor: col-resize;
            .flex-grow(1);
        }
    }

    &.flexy-layout-row > .splitter{
        height: 5px;
        >.ghost{
            cursor: row-resize;
            .flex-grow(1);
        }
    }
}

.block.splitter {
    //position: relative;
    //overflow: visible;
}

.ghost {
    float: left;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: 99;
    background: @clouds;
}

.block-content {
    .flex-display;
    .flex-grow(1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    .std-padding;
    .no-top-padding;
}