@import "bootstrap.less";
@import "ng-progress-lite.less";
@import "api-scheduler-status.less";

a {
    cursor: pointer;
}

section {
    margin-bottom: 20px;
}

//Navbar
.navbar-brand {
    color: white !important;
    font-weight: 300;
}

//Modals
.modal-header.modal-header-danger {
    color: white;
    background-color: @brand-danger;
}