@import "bootstrap.less";
@import "flexbox.less";
@import "ng-progress-lite.less";
@import "flexy-layout.less";
@import "api-scheduler-status.less";

@import "../auth/auth.less";
@import "../report/report.less";
@import "../report/taxonomy/taxonomy.less";
@import "../report/taxonomy/concept/concept.less";
@import "../report/taxonomy/concept/formula/formula.less";
@import "../report/taxonomy/concept/overview/overview.less";
@import "../report/spreadsheet/spreadsheet.less";
@import "../report/fact-table/fact-table.less";
@import "../report/filters/filters.less";

.disabled {
    cursor: not-allowed;
    
    a {
        pointer-events: none;
    }
}

a {
    cursor: pointer;
    
    &[disabled] {
        pointer-events: none;
    }
}

section {
    margin-bottom: 20px;
}

//std margin, padding, bg
.std-padding {
    padding: 20px;    
}

.no-top-padding {
    padding-top: 0;   
}
.std-top-padding {
    padding-top: 20px;
}

.std-right-margin {
    margin-right: 20px;
}

.std-top-margin {
    margin-top: 20px;
}

.std-left-margin {
    margin-left: 20px;
}

//Header
.std-header {
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid @clouds;
    font-weight: 300;
}

.bg-primary {
    background-color: @brand-primary;
    &:hover {
        background-color: @brand-primary !important;
    }
}

.bg-danger {
    background-color: @brand-danger;
    &:hover {
        background-color: @brand-danger !important;
    }
}

//Font weigths
h1, h2, h3, h4, h5 {
    font-weight: 100;
}

label {
    font-weight: normal;
}

//Navbar
.navbar-brand {
    color: white !important;
    font-weight: 100;
    
    a {
        color: white;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

//Modals
.modal-header {
    background-color: @brand-primary;
    color: white;

    &.modal-header-danger {
        background-color: @brand-danger;
    }
}

.modal-small {
  > .modal-dialog {
    width: 420px;
  }
}

.modal-big {
  > .modal-dialog {
    width: 1200px;
  }
}

//Full screen mode
.scrollable {
    .flex-grow(1);
    overflow: auto;
}

.viewport{
    height: 100%;
    width: 100%;
    overflow: hidden;
    .flex-display;
    .flex-grow(1);
}

.content { padding:15px }


html {
    .viewport;

    body {
        .viewport();
    
        div[ui-view] {
            .viewport;
        }   
    }   
}

//API Status
#api-status {
    position: fixed;
    padding: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    z-index: 90000;
    left: 50%;
    margin-left: -100px;
    width: 100px;
    text-align: center;
}

//Nav-pills
.nav-pills {

    li {
        border: 1px solid @clouds;
        
        &.active {
            border: 1px solid @brand-primary;
        }
        
        >a {
            color: @text-color;
            
            &:hover {
                background-color: lighten(@clouds, 3%);
            }
        }
    }

    >li + li {
        margin-left: 0;
        border-left: 0;
    }
}

//Forms
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}