<div>
    <div>
        <h3>Value Metadata</h3>
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr  class="row">
                    <td class="col-md-5">Value</td>
                    <td ng-bind="fact.Value" class="col-md-5"></td>
                </tr>
                <tr  class="row">
                    <td class="col-md-5">Type</td>
                    <td ng-bind="fact.Type" class="col-md-5"></td>
                </tr>
                <tr  class="row">
                    <td class="col-md-5">Unit</td>
                    <td ng-bind="fact.Unit" class="col-md-5"></td>
                </tr>
                <tr  class="row">
                    <td class="col-md-5">Decimals</td>
                    <td ng-bind="fact.Decimals" class="col-md-5"></td>
                </tr>
                <tr  class="row">
                    <td class="col-md-5">Balance</td>
                    <td ng-bind="fact.Balance" class="col-md-5"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3>Other Properties</h3>
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr  class="row">
                    <td class="col-md-5">Entity Name</td>
                    <td ng-bind="fact.EntityRegistrantName" class="col-md-5"></td>
                </tr>
                <tr  class="row">
                    <td class="col-md-5">Fact Source Type</td>
                    <td ng-bind="fact['xbrl28:Type']" class="col-md-5"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3>Key Aspects</h3>
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th>Aspect</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr  class="row" ng-repeat="aspect in keyAspects">
                    <td ng-bind="aspect.name" class="col-md-5"></td>
                    <td ng-bind="aspect.value" class="col-md-5"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3>Secondary Aspects</h3>
        <table class="table table-hover">
            <thead>
            <tr class="row">
                <th>Aspect</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr  class="row" ng-repeat="aspect in keyAspects">
                <td ng-bind="aspect.name" class="col-md-5"></td>
                <td ng-bind="aspect.value" class="col-md-5"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Computation Audit Trails</h3>
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th>Label</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr  class="row" ng-repeat="trail in computationAuditTrails">
                    <td ng-bind="trail.Label" class="col-md-5"></td>
                    <td ng-bind="trail.Message" class="col-md-5"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-repeat="stamping in validationAuditTrails">
        <h3>Validation Stamp</h3>
        <p>{{stamping.Message}}</p>
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th> </th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr  class="row" ng-repeat="audittrail in stamping.Data.AuditTrails">
                    <td class="col-md-5">
                        <i ng-show="audittrail.Data.ValidationPassed == false" class="fa fa-times invalid"></i>
                        <i ng-show="audittrail.Data.ValidationPassed" class="fa fa-check valid"></i>
                    </td>
                    <td ng-bind="audittrail.Message" class="col-md-5"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>