<div class="modal-header">
    <h3 class="modal-title">Validation Details</h3>
</div>
<div class="modal-body">
    <div ng-if="isStampedFact">
        <h4>{{validationStamp.Message}}</h4>
        <div ng-repeat="audittrail in validationStamp.Data.AuditTrails">
            <i ng-show="audittrail.Data.ValidationPassed == false" class="fa fa-times invalid"></i>
            <i ng-show="audittrail.Data.ValidationPassed" class="fa fa-check valid"></i>
            {{audittrail.Message}}
        </div>
    </div>
    <div ng-if="isValidationFact">
        <h4>{{validation.Label}}</h4>
        <div>
            <i ng-show="validation.Data.ValidationPassed == false" class="fa fa-times invalid"></i>
            <i ng-show="validation.Data.ValidationPassed" class="fa fa-check valid"></i>
            {{validation.Message}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Close</button>
</div>