<div id="auth">
    <div class="container">
	<span ng-show="returnPage">
		<h2>Restricted access</h2><br>
		<h4>The page you are trying to access displays information about an entity not included in the DOW30.</h4>
		To view that information you have to login with your credentials. If you do not have an account, you can create one using the registration form.
	</span>
	<span ng-hide="returnPage">
		<h2>Login or Sign-Up</h2>
		Enter your credentials below. If you do not have an account, you can create one using the registration form.
	</span>
    <div class="row">
        <div class="col-md-6">
            <form role="form" class="white-box" name="loginForm" ng-submit="login()" novalidate spellcheck="false" autocomplete="on">
                <h3>Login</h3>
                <div class="form-group">
                    <input type="email" class="form-control" name="loginEmail" ng-model="loginEmail" placeholder="Email" required autocomplete="on">
                <span class="text-danger" ng-show="loginForm.loginEmail.$error.required && loginAttempted">
                    Email is required.
                </span>
                <span class="text-danger" ng-show="loginForm.loginEmail.$error.email && loginAttempted">
                    Email is invalid.
                </span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="loginPassword" ng-model="loginPassword" placeholder="Password" required autocomplete="on">
                <span class="text-danger" ng-show="loginForm.loginPassword.$error.required && loginAttempted">
                    Password is required.
                </span>
                <span class="text-danger" ng-show="loginForm.loginPassword.$error.unauthorized && loginAttempted">
                    Email and Password do not match our records.
                </span>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
	<span ng-show="returnPage">
		... or you can go <a ng-click="back()">BACK</a>.<br><br>
	</span>
    </div>
</div>