<div ng-if="hasComputingRule">
    <h2>Computing Rule</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Rule Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, rule) in allRules">
            <td ng-bind="rule.Id"></td>
            <td ng-bind="rule.Label"></td>
            <td ng-bind="rule.Type"></td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="editRule(rule.Id)">Edit Rule</button>
                <button type="button" class="btn btn-danger" ng-click="removeRule(rule.Id)">Delete Rule</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-if="!hasComputingRule">
    <h2>Create a Business Rule to Compute a Fact</h2>
    <h3>Excel Rule</h3>
    <div>
        <p class="">Create a simple rule for concept "{{conceptName}}" using spreadsheet formula syntax.</p>
        <form class="form-inline" role="form" ng-submit="addRule(conceptName, 'xbrl28:formula', 'SpreadsheetFormula')">
            <button type="submit" class="btn btn-primary">Add Simple Rule</button>
        </form>
    </div>
    <h3>Advanced Rule</h3>
    <div>
        <p class="">Create an advanced rule for concept "{{conceptName}}" using Jsoniq syntax (advanced users only).</p>
        <form class="form-inline" role="form" ng-submit="addRule(conceptName, 'xbrl28:formula', undefined)">
            <button type="submit" class="btn btn-primary">Add Advanced Rule</button>
        </form>
    </div>
    <h3>Validation Rule</h3>
    <div>
        <p class="">Create an advanced validation rule for concept "{{conceptName}}" using Jsoniq syntax (advanced users only).</p>
        <form class="form-inline" role="form" ng-submit="addRule(conceptName, 'xbrl28:validation', undefined)">
            <button type="submit" class="btn btn-primary">Add Validation Rule</button>
        </form>
    </div>
</div>
<div ng-if="hasComputingRule && allRules[0].Type !== 'xbrl28:validation'">
    <h2>Validating Rules for Concept "{{conceptName}}"</h2>
    <table class="table table-hover" ng-if="hasValidatingRules">
        <thead>
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Rule Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, rule) in validatingRules">
            <td ng-bind="rule.Id"></td>
            <td ng-bind="rule.Label"></td>
            <td ng-bind="rule.Type"></td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="editRule(rule.Id)">Edit Rule</button>
                <button type="button" class="btn btn-danger" ng-click="removeRule(rule.Id)">Delete Rule</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-if="!hasValidatingRules">
        <p class="alert alert-info">There are no validation rules validating concept "{{conceptName}}", yet.</p>
    </div>
</div>