<div class="container">
    <form novalidate class="form-horizontal" role="form">
        <div class="form-group" ng-class="{'has-error': formula.model.IdErr!==undefined}">
            <label for="ruleID" class="col-sm-{{colspan1}} control-label">ID</label>
            <div class="col-sm-{{12 - colspan1}}">
                <input ng-if="action === 'Create'" type="text" id="ruleID" class="form-control" ng-model="formula.model.Id" ng-pattern="/^.+$/" required ng-change="formula.validate(action)">
                <input ng-if="action === 'Update'" type="text" id="ruleID" readonly="readonly" class="form-control" ng-model="formula.model.Id" ng-pattern="/^.+$/" required>
            </div>
            <div class="col-sm-offset-{{colspan1}} col-sm-{{12 - colspan1}}" ng-if="formula.model.IdErr">
                <p ng-bind="formula.model.IdErr" class="text-danger"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': formula.model.LabelErr!==undefined}">
            <label for="ruleLabel" class="col-sm-{{colspan1}} control-label">Label</label>
            <div class="col-sm-{{12 - colspan1}}">
                <input type="text" id="ruleLabel" class="form-control" ng-model="formula.model.Label" required ng-change="formula.validate(action)">
            </div>
            <div class="col-sm-offset-{{colspan1}} col-sm-{{12 - colspan1}}" ng-if="formula.model.LabelErr">
                <p ng-bind="formula.model.LabelErr" class="text-danger"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': formula.model.DescriptionErr!==undefined}">
            <label for="ruleDescription" class="col-sm-{{colspan1}} control-label">Description</label>
            <div class="col-sm-{{12 - colspan1}}">
                <textarea class="form-control" id="ruleDescription" rows="3" placeholder="" ng-model="formula.model.Description" ng-change="formula.validate(action)"></textarea>
            </div>
            <div class="col-sm-offset-{{colspan1}} col-sm-{{12 - colspan1}}" ng-if="formula.model.DescriptionErr">
                <p ng-bind="formula.model.DescriptionErr" class="text-danger"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': formula.model.ComputableConceptsErr!==undefined}">
            <label for="compFact" class="col-sm-{{colspan1}} control-label">Computed Fact Name</label>
            <div class="col-sm-{{12 - colspan1}}">
                <input type="text" id="compFact" class="form-control" ng-model="formula.model.ComputableConcepts" ng-list ng-change="formula.validate(action)">
            </div>
            <div class="col-sm-offset-{{colspan1}} col-sm-{{12 - colspan1}}" ng-if="formula.model.ComputableConceptsErr">
                <p ng-bind="formula.model.ComputableConceptsErr" class="text-danger"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': formula.model.DependsOnErr!==undefined}">
            <label for="deps" class="col-sm-{{colspan1}} control-label">Dependencies</label>
            <div class="col-sm-{{12 - colspan1}}">
                <input ng-if="formula.model.OriginalLanguage === 'SpreadsheetFormula'"
                       class="form-control" ng-model="formula.model.DependsOn" ng-list ng-change="formula.validate(action)" type="text" id="deps" readonly>
                <input ng-if="formula.model.OriginalLanguage !== 'SpreadsheetFormula'"
                       class="form-control" ng-model="formula.model.DependsOn" ng-list ng-change="formula.validate(action)" type="text" id="deps">
            </div>
            <div class="col-sm-offset-{{colspan1}} col-sm-{{12 - colspan1}}" ng-if="formula.model.DependsOnErr">
                <p ng-bind="formula.model.DependsOnErr" class="text-danger"></p>
            </div>
        </div>


        <!-- if 'SpreadsheetFormula'-->
        <div class="form-group" ng-if="formula.model.OriginalLanguage === 'SpreadsheetFormula'">
            <label for="coverAspects" class="col-sm-{{colspan1}} control-label">Implicit Filtering Options</label>
            <div class="col-sm-{{12 - colspan1}}">
                <input type="checkbox" id="coverAspects" ng-model="formula.model.AllowCrossPeriod">
                    <span tooltip="Allow facts to be computable across different period types (e.g. divide Revenue [duration] by Assets [instant])." tooltip-trigger="mouseenter" tooltip-placement="{{tooltipPlacement}}">
                        Compute facts across different period types (duration/instant)</span>
            </div>
            <div class="col-sm-{{12 - colspan1}}">
                <input type="checkbox" ng-model="formula.model.AllowCrossBalance">
                    <span tooltip="Allow facts to be computable across different balance types (e.g. allow to compare Assets [debit] with Equity [debit])." tooltip-trigger="mouseenter" tooltip-placement="{{tooltipPlacement}}">
                        Compute facts across different balance types (debit/credit)</span>
            </div>
        </div>
        <tabset ng-if="formula.model.OriginalLanguage === 'SpreadsheetFormula'">
            <tab ng-repeat="alt in formula.model.Formulae track by $index" active="alt.active">
                <tab-heading>
                    <span ng-class="{'text-danger': alt.valid===false}"><i class="glyphicon glyphicon-bell" style="color: #a94442" ng-show="alt.valid===false"></i> Alternative {{$index +1}}</span>
                    <span class="btn-group" dropdown is-open="status.isopen" style="margin-left: 10px; margin-right: 10px;">
                        <button type="button" class="btn btn-default dropdown-toggle btn-xs" ng-disabled="disabled"><span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-if="formula.model.Formulae.length > 1"><a href="#" ng-click="formula.removeAlternative($index)" class="text-danger"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
                            <li><a href="#" ng-click="formula.copyAlternative($index)"><i class="glyphicon glyphicon-share"></i> Duplicate</a></li>
                        </ul>
                    </span>
                </tab-heading>
                <div style="border-width: 0 1px 1px 1px;border-color: #ddd;border-radius: 4px 4px 0 0;padding-top: 15px;">
                    <div class="form-group" ng-class="{'has-error': alt.SourceFactErr!==undefined}">
                        <label for="sourceFact{{$index}}" class="col-sm-{{colspan1}} control-label">Mandatory Source Fact</label>
                        <div class="col-sm-{{12 - colspan1}}">
                            <input type="text" id="sourceFact{{$index}}" class="form-control" ng-model="alt.SourceFact[0]" ng-pattern="/^.+$/" ng-change="formula.validate(action)">
                        </div>
                        <div class="col-sm-offset-{{colspan1}} col-sm-{{12 - colspan1}}" ng-if="alt.SourceFactErr">
                            <p ng-bind="alt.SourceFactErr" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': alt.PrereqErr!==undefined}">
                        <label for="precondition{{$index}}" class="col-sm-{{colspan1}} control-label">Precondition</label>
                        <div class="col-sm-{{12 - colspan1}}">
                            <textarea class="form-control" id="precondition{{$index}}" rows="1" placeholder="" ng-change="formula.compilePrereq($index, true, action)" ng-model="alt.PrereqSrc"></textarea>
                        </div>
                        <div class="container alert alert-danger col-sm-offset-{{colspan1}} col-sm-{{12 - colspan1}}" ng-show="alt.PrereqErr" style="margin-top: 20px;">{{alt.PrereqErr}}</div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': alt.BodyErr!==undefined}">
                        <label for="rule{{$index}}" class="col-sm-{{colspan1}} control-label">Arithmetic Rule</label>
                        <div  class="col-sm-{{12 - colspan1}}">
                            <textarea class="form-control" id="rule{{$index}}" rows="6" placeholder="" ng-change="formula.compileBody($index, true, action)" ng-model="alt.BodySrc"></textarea>
                        </div>
                        <div class="container alert alert-danger col-sm-offset-{{colspan1}} col-sm-{{12 - colspan1}}" ng-show="alt.BodyErr" style="margin-top: 20px;">{{alt.BodyErr}}</div>
                    </div>
                </div>
            </tab>
            <tab select="formula.addAlternative()">
                <tab-heading>
                    <span><i class="glyphicon glyphicon-plus"></i> Add An Alternative</span>
                </tab-heading>
            </tab>
        </tabset>

        <!-- if 'xbrl28:formula' || 'xbrl28:validation'-->
        <div ng-if="formula.model.Type === 'xbrl28:formula' && formula.model.OriginalLanguage !== 'SpreadsheetFormula'">
            <div class="form-group" ng-class="{'has-error': formula.model.FormulaErr!==undefined}">
                <label for="rule" class="col-sm-{{colspan1}} control-label">Advanced Rule</label>
                <div  class="col-sm-{{12 - colspan1}}">
                    <textarea class="form-control" id="rule" rows="20" placeholder="" ng-change="formula.compile()" ng-model="formula.model.Formula"></textarea>
                </div>
                <div class="container alert alert-danger col-sm-offset-{{colspan1}} col-sm-{{12 - colspan1}}" ng-show="formula.model.FormulaErr" style="margin-top: 20px;">{{formula.model.FormulaErr}}</div>
            </div>
        </div>
        <div ng-if="formula.model.Type === 'xbrl28:validation' && formula.model.OriginalLanguage !== 'SpreadsheetFormula'">
            <div class="form-group" ng-class="{'has-error': formula.model.ValidatedConceptsErr!==undefined}">
                <label for="validatedConcept" class="col-sm-{{colspan1}} control-label">Validated Concept</label>
                <div class="col-sm-{{12 - colspan1}}">
                    <input type="text" id="validatedConcept" class="form-control" ng-model="formula.model.ValidatedConcepts" ng-pattern="/^.+$/" ng-list ng-change="formula.validate(action)">
                </div>
                <div class="col-sm-offset-{{colspan1}} col-sm-{{12 - colspan1}}" ng-if="formula.model.ValidatedConceptsErr">
                    <p ng-bind="formula.model.ComputableConceptsErr" class="text-danger"></p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': formula.model.FormulaErr!==undefined}">
                <label for="validation" class="col-sm-{{colspan1}} control-label">Advanced Validation Rule</label>
                <div  class="col-sm-{{12 - colspan1}}">
                    <textarea class="form-control" id="validation" rows="20" placeholder="" ng-change="formula.compile()" ng-model="formula.model.Formula"></textarea>
                </div>
                <div class="container alert alert-danger col-sm-offset-{{colspan1}} col-sm-{{12 - colspan1}}" ng-show="formula.model.FormulaErr" style="margin-top: 20px;">{{formula.model.FormulaErr}}</div>
            </div>
        </div>
    </form>
</div>