<div ng-if="!conceptName">
    <p>No concept is selected. You can pick one on the left end side or create a new concept.</p>
    <button ng-click="newConcept()" class="btn btn-primary"><i class="fa fa-plus"></i> Concept</button>
</div>
<div ng-if="conceptName">
    <p>Drag and drop the concept in the presentation tree.</p>
    <ul class="list-group sortable-container" ui-sortable="sortableOptions" ng-model="conceptName">
        <li class="list-group-item sortable" ng-bind="conceptName"></li>
    </ul>
</div>
<ul class="nav nav-list nav-pills nav-stacked abn-tree sortable-container" ui-sortable="sortableOptions" ng-model="rows">
    <li ng-repeat="row in rows"  ng-class="'level-' + {{ row.level }} + (selected.Id === row.branch.Id ? ' active':'')" class="abn-tree-row sortable" id="{{row.branch.Id}}">
        <a ng-click="select(row)">
            <i ng-class="{ 'fa-caret-right': !row.branch.expanded && row.branch.To, 'fa-caret-down': row.branch.expanded && row.branch.To }" class="indented tree-icon fa"></i>
            <span class="indented tree-label">{{row.branch.Label}} ({{row.branch.Name}})</span>
            <span class="remove-concept indented fa fa-times" ng-click="remove(row.branch.Id)"></span>
        </a>
    </li>
</ul>